<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/en_layout}">
<head>
    <title>Investor Info Financial</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">Financial Information</h1>
            </div>
        </div>
    </div>

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

    <!-- Coming Soon Section Start -->
    <div class="col-12 text-center mb-5" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="container py-5 text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="d-inline-block bg-white p-4 rounded shadow-sm mb-4">
                        <img src="/img/growith_logo_bluewhaleoh.png" style="width: 300px; height: auto;">
                    </div>
                    <h2 class="display-4 mb-4">Coming Soon</h2>
                    <p class="lead mb-4">GROWITH financial information is currently under preparation.</p>
                    <a href="javascript:history.back()" class="btn btn-primary mt-4">Go Back</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Coming Soon Section End -->

</th:block>
</body>
</html>
