<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorate="~{layouts/layout}">
<head>
	<title> about_overview </title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">회사 개요</h1>
                    
                </div>
            </div>
        </div>
        <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

<!-- 회사개요 타이틀 -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <!-- 이미지와 긴 내용을 포함하는 컨테이너 -->
        <div class="position-relative">
            <!-- 타이틀 -->
            <div class="section-title position-relative pb-3 mb-5" style="max-width: 800px; text-align: left;">
                <h1 class="fw-bold text-black text-uppercase" style="color: #06A3DA;" >Hello! GROWITH!<br> <br> </h1>
                <h3>
                    그로윗은 <span style="color: #06A3DA;">'함께 성장'</span>을 모토로 다양한 혁신 프로젝트를 추진하는 <span style="color: #06A3DA;">스타트업</span>입니다.
                </h3>
            </div>
            <!-- 이미지와 배경 블록 -->
            <div class="position-relative overflow-hidden">
                <!-- 검은색 배경 블록 -->
                <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(9, 30, 62, .7); z-index: 1;"></div>
                
                <!-- 이미지 -->
                <div class="team-img position-relative overflow-hidden" style="height: 600px; width: 100%; max-width: 100%; z-index: 0;">
                    <img class="img-fluid" src="/img/water_main.jpg" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
                
                <!-- 텍스트 -->
                <div class="position-absolute top-50 start-50 translate-middle w-75 text-center" style="z-index: 2;">
                    <img src="/img/growith_logo_whitewhale.png" alt="Growith Logo" class="me-2" style="height: 200px;">
                    <h5 class="text-white p-4">
                        우리는 다양한 아이디어와 기술로 무궁무진한 가능성을 탐구하고 있으며, 
                        현재는 수질 환경 개선을 위한 자율주행 분수 시스템 "PaDO"를 개발 중에 있습니다. 
                        하지만 우리의 도전은 여기서 멈추지 않습니다. 
                        우리는 환경 보호와 기술 혁신을 통해 더 나은 미래를 만들기 위해 끊임없이 노력하고 있습니다.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 회사개요 타이틀 -->











    <!-- 타이틀 시작 -->
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
	            <h5 class="fw-bold text-primary text-uppercase">GROWITH</h5>
	            <h1 class="mb-0">비전 & 미션</h1>
	        </div>
        </div>
    <!-- 타이틀 끝 -->

<!-- 비전 및 미션 시작 -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-5">
            <!-- 비전 섹션 -->
            <div class="col-lg-6 d-flex align-items-stretch">
                <div class="bg-light rounded p-4 d-flex flex-column justify-content-between">
                    <div>
                        <div class="section-title position-relative pb-3 mb-5">
                            <h3 class="mb-0">비전</h3>
                        </div>
                        <h4>
                            <p class="mb-4">지속 가능한 미래를 위한 혁신적인 기술 개발</p>
                        </h4>
                        <p class="mb-4">우리는 지구와 환경을 보호하며 미래 세대에게 지속 가능한 세상을 물려주기 위해 끊임없이 노력하고 있습니다. 우리의 기술은 자연과 조화를 이루며, 혁신적인 솔루션을 제공합니다.</p>
                        <ul>
                            <li>지속 가능한 에너지 솔루션</li>
                            <li>환경 보호를 위한 기술</li>
                            <li>지속 가능한 발전</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 미션 섹션 -->
            <div class="col-lg-6 d-flex align-items-stretch">
                <div class="bg-light rounded p-4 d-flex flex-column justify-content-between">
                    <div>
                        <div class="section-title position-relative pb-3 mb-5">
                            <h3 class="mb-0">미션</h3>
                        </div>
                        <h4>
                            <p class="mb-4">다양한 분야에서 창의적이고 혁신적인 솔루션을 제공하여 더 나은 세상을 만들기</p>
                        </h4>
                        <p class="mb-4">우리는 모든 분야에서 혁신적인 솔루션을 통해 인간의 삶의 질을 향상시키고, 더 나은 세상을 만들어 가기 위해 노력합니다. 우리의 창의성과 혁신은 무한한 가능성을 열어줍니다.</p>
                        <ul>
                            <li>혁신적인 제품 개발</li>
                            <li>고객 만족도 향상</li>
                            <li>사회적 책임 이행</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 비전 및 미션 끝 -->





<!-- Service Start -->
<div class="container-fluid py-5 bg-light">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">GROWITH</h5>
            <h1 class="mb-0">핵심 가치</h1>
        </div>
        <div class="row g-5">
            <!-- 첫 번째 주요 서비스 -->
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white rounded d-flex flex-column align-items-center justify-content-center text-center" style="box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    <div class="service-icon">
                        <img src="/img/icon_planet.png" alt="Icon 1">
                    </div>
                    <h4 class="mb-3">환경 보존</h4>
                    <p class="m-0">모든 활동에서 환경에 미치는 영향을 최소화</p>
                </div>
            </div>
            <!-- 두 번째 주요 서비스 -->
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white rounded d-flex flex-column align-items-center justify-content-center text-center" style="box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    <div class="service-icon">
                        <img src="/img/icon_progress.png" alt="Icon 2">
                    </div>
                    <h4 class="mb-3">지속적인 개선</h4>
                    <p class="m-0">끊임없는 연구와 개발을 통해 기술을 선도</p>
                </div>
            </div>
            <!-- 세 번째 주요 서비스 -->
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white rounded d-flex flex-column align-items-center justify-content-center text-center" style="box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    <div class="service-icon">
                        <img src="/img/icon_solution.png" alt="Icon 4">
                    </div>
                    <h4 class="mb-3">혁신</h4>
                    <p class="m-0">창의적이고 새로운 아이디어를 통해 문제 해결</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->



<!-- 미래 계획 시작 -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">GROWITH</h5>
            <h2 class="mb-0">미래 계획</h2>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12">
                        <div class="bg-white rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <img src="/img/icon_flight.png" style="width: 60px; height: 60px;">
                        </div>
                        <h4>시장 확대</h4>
                        <p class="mb-0">각 지역의 지자체와 협력하여 시범 프로젝트를 확대하고, 성공 사례를 바탕으로 추가 계약을 체결합니다.</p>
                    </div>
                    <div class="col-12">
                        <div class="bg-white rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <img src="/img/icon_menu.png" style="width: 60px; height: 60px;">
                        </div>
                        <h4>제품 라인업 확대</h4>
                        <p class="mb-0">계절적 요인과 다양한 고객의 요구에 맞춘 제품 라인업을 개발합니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center align-items-center">
                <div class="position-relative" style="width: 80%; height: 80%;">
                    <img class="w-100 h-100 rounded" src="/img/growith_logo_gradationwhale.png" style="object-fit: contain;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12">
                        <div class="bg-white rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <img src="/img/icon_artificial.png" style="width: 60px; height: 60px;">
                        </div>
                        <h4>AI 통합</h4>
                        <p class="mb-0">AI를 활용한 녹조 발생 예측 서비스 제공과 선제적 대응 방안을 제시합니다.</p>
                    </div>
                    <div class="col-12">
                        <div class="bg-white rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <img src="/img/icon_database.png" style="width: 60px; height: 60px;">
                        </div>
                        <h4>데이터 판매 사업</h4>
                        <p class="mb-0">축적된 수질 데이터를 활용한 데이터 판매 사업을 추진하며, 기업 및 연구 기관 등에 데이터를 제공하고 유료로 판매합니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 추가 설명 -->
        <div class="container py-5">
		    <div class="text-center mx-auto" style="max-width: 600px;">
		        <h3 class="mb-0">그로윗의 미래 계획</h3>
		    </div>
		    <div class="text-center mx-auto" style="max-width: 800px;">
		        <p class="mb-4" style="font-size: 1.125rem; line-height: 1.6;">
		            그로윗은 수질 환경 개선을 넘어 다양한 혁신 프로젝트를 지속적으로 추진할 계획입니다. 우리의 목표는 다양한 분야에서 창의적이고 혁신적인 솔루션을 제공하여 더 나은 세상을 만드는 것입니다. 현재의 PaDO 프로젝트뿐만 아니라 미래의 다양한 도전에서도 그로윗의 가치를 실현해 나갈 것입니다.
		        </p>
		    </div>
		</div>
	</div>
</div>
<!-- 미래 계획 끝 -->


        
    </th:block>
</body>
</html>
